html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

#root {
  display: flex;
  flex-flow: column;
  overflow: hidden;  
  height: 100%;
}

.content {
  flex: 1;  
  overflow-y: scroll;
  overflow-x: hidden;
}
